/* Safari 10.1+ */
@media not all and (min-resolution: 0.001dpcm) {
  .pokemon-card .lazy-load-image-background.blur {
    filter: blur(0px) !important;
  }
  .pokemon-info-section5 h4 {
    top: -2vw !important;
  }
  @media (max-width: 992px) {
    .app {
      overflow: initial !important;
    }
    .loading-more-button {
      margin: 0 !important;
      padding: 30px 0 !important;
    }
  }
}